<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Delete Student</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="mt-4">Delete Student</h1>
    <form th:action="@{/student/delete}" method="post" class="mt-4">
        <div class="form-group">
            <label for="id">Student ID:</label>
            <input type="number" id="id" name="id" class="form-control"/>
            <div class="text-danger" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></div>
        </div>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>
</body>
</html>
