<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Null Pointer Exception</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="mt-4">Null Pointer Exception Occurred</h1>
    <div class="alert alert-danger">
        <p>A null pointer exception has occurred.</p>
        <p>Please check the data you provided and try again.</p>
    </div>
</div>
</body>
</html>
